.topics, .weeks {

  .calc-height {
    height: 0;
    overflow: hidden;
    display: block;
  }

  .move {
    transition: padding 400ms ease-in-out;
  }

  .course-description-item.summarytext {
    &.move-in {
      @extend .move;
      padding-left: 45px;
    }

    &.move-out {
      @extend .move;
      padding-left: 0;
    }
  }
}
