/*=======================================
 * Settings: Feel -> Navigation.
 ======================================*/

/*---------------------------------------
 * Setting: Back to top button.
 --------------------------------------*/

#back-to-top {
    /* Hide the back to top icon initially. It will be unhidden by JS only. */
    display: none;
    /* Place the back to top button at a fixed place. */
    position: fixed;
    right: 2rem;
    /* As a start = on really small screens, the back to top button is shown in the bottom right corner. */
    bottom: 2rem;
    /* On larger screens, there is the footer button already in the bottom right corner and
       the back to top button has to be shown above of the footer button. */
    @include media-breakpoint-up(sm) {
        bottom: 5rem;
    }
    /* Make sure that the back to top button is not covered by anything else. */
    z-index: $zindex-dropdown;
    /* Animate position together with footer button. */
    @include transition(0.2s);
}
#back-to-top i::before {
    /* Move the caret icon slightly up for a nicer look. */
    vertical-align: 0.3rem;
}
#page.drawers.show-drawer-right #back-to-top {
    /* Move the back to top button when right drawer is shown. */
    right: calc(#{$drawer-right-width} + 2rem);
}


/*=======================================
 * Settings: Content -> Footnote.
 ======================================*/

/* The footnote styles are different on the login page and on all non-login pages.
   They are also different on larger and smaller screens.
   We will deal with the overall cases for all screen sizes first and will then overwrite the things which need
   to be different on the login page. */

/* On larger screens. */
@include media-breakpoint-up(md) {
    /* If there is a background image or a loginbackground image configured. */
    body.backgroundimage #footnote,
    body.loginbackgroundimage #footnote {
        /* Add horizontal padding to align the footnote with the main page content.
           The numbers are basically adopted from the main content areas of the Moodle page. */
        padding-left: calc(15px + .5rem);
        padding-right: calc(15px + .5rem);

        /* Add white background color, border radius and a small bottom margin
           to make the footnote work with background images. */
        @include border-radius();
        background-color: $white;
        margin-bottom: 1rem;
    }

    /* If there isn't a background image nor a loginbackground image configured. */
    body:not(.backgroundimage):not(.loginbackgroundimage) #footnote {
        /* Add horizontal margin to align the footnote with the main page content.
           The numbers are basically adopted from the main content areas of the Moodle page. */
        margin-left: calc(15px + .5rem);
        margin-right: calc(15px + .5rem);

        /* Add top border. */
        border-top: $border-width solid $border-color;
    }
}

/* And on smaller screens. */
@include media-breakpoint-only(sm) {
    #footnote {
        /* On smaller screens, there isn't any background image, so there's no need for a white background. */

        /* Add horizontal margin and padding to align the footnote with the main page content.
           The numbers are adopted from the main content areas of the Moodle page.
           Add another right padding as well to avoid that the content gets covered by the footer and back-to-top
           buttons. */
        margin-left: .5rem;
        padding-left: 15px;
        margin-right: .5rem;
        padding-right: 51px; /* The underlying calculation is 15px + 36px. */

        /* Add top border. */
        border-top: $border-width solid $border-color;
    }
}

/* And on really small screens. */
@include media-breakpoint-down(xs) {
    #footnote {
        /* On really small screens, there isn't any background image, so there's no need for a white background. */

        /* Add horizontal margin and padding to align the footnote with the main page content.
           The numbers are adopted from the main content areas of the Moodle page.
           Add another right padding as well to avoid that the content gets covered by the back-to-top button. */
        margin-left: 15px;
        padding-left: 1rem;
        margin-right: 15px;
        padding-right: calc(1rem + 36px);

        /* Add top border. */
        border-top: $border-width solid $border-color;
    }
}

/* As said, the login needs some more adjustments. */

/* On larger screens. */
@include media-breakpoint-up(sm) {
    /* If there is a loginbackground image configured. */
    body.pagelayout-login.loginbackgroundimage #footnote {
        /* Add a box shadow to the footnote to match the look of the login box. */
        box-shadow: $logincontainer-shadow;

        /* Add horizontal margin as the page does not have a margin itself. */
        margin-left: 15px;
        margin-right: 15px;

        /* Add another right padding as well to avoid that the content gets covered by the footer button. */
        padding-right: calc(.5rem + 51px); /* The underlying calculation is 15px + .5rem + 36px. */
    }
}

/* On smaller screens. */
@include media-breakpoint-only(sm) {
    /* If there is a loginbackground image configured. */
    body.pagelayout-login.loginbackgroundimage #footnote {
        /* Add white background color and a small bottom margin
           to make the footnote work with background images.
           This is necessary as this isn't covered by the normal background styles already
           (which are only applied to pages > 768px.
           Note that there isn't a border-radius added as the login box doesn't have a border radius as well
           on this screen size. */
        background-color: $white;
        margin-bottom: 1rem;
    }
}

/* And on really small screens. */
@include media-breakpoint-down(xs) {
    body.pagelayout-login.loginbackgroundimage #footnote {
        /* Add white background color and a small bottom margin
           to make the footnote work with background images.
           This is necessary as this isn't covered by the normal background styles already
           (which are only applied to pages > 768px. */
        background-color: $white;

        /* Change horizontal margin and padding to
           to make the footnote work with background images.
           We do not need any additional right padding as there isn't a back-to-top button nor a footer button
           on the login page on this screen size. */
        margin-left: 0;
        padding-left: calc(15px + 1rem);
        margin-right: 0;
        padding-right: calc(15px + 1rem);
    }
}

/* On all screen sizes. */
/* If there isn't a loginbackground image configured. */
body.pagelayout-login:not(.loginbackgroundimage) #footnote {
    /* Remove the top border as there is the gradient in #page. */
    border-top: none;
}


/*=======================================
 * Settings: Content -> Info banner.
 ======================================*/

/* Remove margin after last paragraph for a nicer look. */
.themeboostunioninfobanner p:last-child {
    margin-bottom: 0;
}


/*=======================================
 * Settings: Functionality -> Courses.
 ======================================*/

/*---------------------------------------
 * Setting: Course related hints.
 --------------------------------------*/

.course-hint-hidden,
.course-hint-guestaccess,
.course-hint-selfenrol,
.course-hint-switchedrole {
    margin-left: 15px;
    margin-right: 15px;
}
