/*=======================================
 * Settings: Feel -> Navigation.
 ======================================*/

/*---------------------------------------
 * Setting: Back to top button.
 --------------------------------------*/

#back-to-top {
    /* Hide the back to top icon initially. It will be unhidden by JS only. */
    display: none;
    /* Place the back to top button at a fixed place. */
    position: fixed;
    right: 2rem;
    /* As a start = on really small screens, the back to top button is shown in the bottom right corner. */
    bottom: 2rem;
    /* On larger screens, there is the footer button already in the bottom right corner and
       the back to top button has to be shown above of the footer button. */
    @include media-breakpoint-up(sm) {
        bottom: 5rem;
    }
    /* Make sure that the back to top button is not covered by anything else. */
    z-index: $zindex-dropdown;
    /* Animate position together with footer button. */
    @include transition(0.2s);
}
#back-to-top i::before {
    /* Move the caret icon slightly up for a nicer look. */
    vertical-align: 0.3rem;
}
#page.drawers.show-drawer-right #back-to-top {
    /* Move the back to top button when right drawer is shown. */
    right: calc(#{$drawer-right-width} + 2rem);
}


/*=======================================
 * Settings: Content -> Footnote.
 ======================================*/

/* Add horizontal margin to align the footnote with the main page content. */
#footnote {
    /* On larger screens. */
    @include media-breakpoint-up(md) {
        margin-left: calc(15px + .5rem);
        margin-right: calc(15px + .5rem);
    }
    /* And on smaller screens. */
    @include media-breakpoint-down(sm) {
        margin-left: 15px;
        margin-right: 15px;
    }
    /* And on really small screens, a left padding is added as well as the footer links appear then instead of the
       footer icons and everything should align well. */
    @include media-breakpoint-down(sm) {
        padding-left: 1rem;
    }
}
/* On the login page, the footnote does not need a border-top as the login page has a grey background already.
   Only on really small screens, the border top is helpful there. */
@include media-breakpoint-up(sm) {
    #page-login-index #footnote {
        /* stylelint-disable-next-line declaration-no-important */
        border-top: none !important;
    }
}


/*=======================================
 * Settings: Content -> Info banner.
 ======================================*/

/* Remove margin after last paragraph for a nicer look. */
.themeboostunioninfobanner p:last-child {
    margin-bottom: 0;
}


/*=======================================
 * Settings: Functionality -> Courses.
 ======================================*/

/*---------------------------------------
 * Setting: Course related hints.
 --------------------------------------*/

.course-hint-hidden,
.course-hint-guestaccess,
.course-hint-selfenrol,
.course-hint-switchedrole {
    margin-left: 15px;
    margin-right: 15px;
}

