{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/user_action_menu_submenu_items

    Template for the submenus in the user action menu.

    Context variables required for this template:
    * items - The submenu items
      * link - If a link is provided render it.
        * title - The title added to the link.
        * text - The text to be shown for the link.
        * url - The href for the link.
        * isactive - (Optional) Whether the item is currently active (has been selected).

    Example context (json):
    {
        "items": {
            "link": {
                "title": "Submenu item 1",
                "text": "Submenu item 1",
                "url": "https://example.com/",
                "isactive": 0
            }
        }
    }
}}
{{!
    This template is a modified version of core/user_action_menu_submenus

    Modifications compared to the original template:
    * Add icon support to items.
    * Add additional attributes to items.
    * Allow formatted text within the item.
    * Include thirdlevel submenu support. Haschildren based menu item added.
    * Add support for dividers in the submenu.
}}
{{#items}}
    {{#haschildren}}
        <a href="#" class="carousel-navigation-link {{#itemdata.classes}} {{.}} {{/itemdata.classes}} dropdown-item ps-5" role="menuitem" {{#tooltip}}title="{{.}}" data-toggle="tooltip"{{/tooltip}} tabindex="1" data-carousel-target-id="carousel-item-{{submenuid}}">
            {{#pixicon}}
                {{#pix}}{{pixicon}}{{/pix}}
            {{/pixicon}}
            {{^pixicon}}
                {{#imgsrc}}<img aria-hidden="true" src="{{imgsrc}}" alt="{{{title}}}"/>{{/imgsrc}}
            {{/pixicon}}
            {{{text}}}
        </a>
    {{/haschildren}}

    {{^haschildren}}
        {{#link}}
            <a href="{{{url}}}" class="dropdown-item {{#itemdata.classes}} {{.}} {{/itemdata.classes}} ps-5" role="menuitem" tabindex="-1" {{#isactive}}aria-current="true"{{/isactive}}
                {{#attributes}}{{#key}}{{key}}="{{value}}" {{/key}} {{#name}}{{name}}="{{value}}"{{/name}} {{/attributes}}
                {{#tooltip}}title="{{.}}" data-toggle="tooltip"{{/tooltip}}>
                {{{text}}}
            </a>
        {{/link}}
        {{#divider}}<div class="dropdown-divider"></div>{{/divider}}
    {{/haschildren}}
{{/items}}
