{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_boost_union/footnote

    Boost Union footnote layout template.

    Context variables required for this template:
    * showfootnote - The fact if the footnote should be shown or not
    * anystaticpagelinkedfromfootnote - The fact if any static page should be linked from the footnote

    Example context (json):
    {
        "showfootnote": true,
        "footnotesetting": "This is my nice footnote",
        "anystaticpagelinkedfromfootnote": true,
        "aboutuslinkpositionfootnote": true,
        "aboutuslink": "https://localhost/theme/boost_union/pages/aboutus.php",
        "aboutuspagetitle": "About us",
        "offerslinkpositionfootnote": true,
        "offerslink": "https://localhost/theme/boost_union/pages/offers.php",
        "offerspagetitle": "Offers",
        "imprintlinkpositionfootnote": true,
        "imprintlink": "https://localhost/theme/boost_union/pages/imprint.php",
        "imprintpagetitle": "Imprint",
        "contactlinkpositionfootnote": true,
        "contactlink": "https://localhost/theme/boost_union/pages/contact.php",
        "contactpagetitle": "Contact",
        "helplinkpositionfootnote": true,
        "helplink": "https://localhost/theme/boost_union/pages/help.php",
        "helppagetitle": "Help",
        "maintenancelinkpositionfootnote": true,
        "maintenancelink": "https://localhost/theme/boost_union/pages/maintenance.php",
        "maintenancepagetitle": "Maintenance",
        "accessibilitydeclarationlinkpositionfootnote": true,
        "accessibilitydeclarationlink": "https://localhost/theme/boost_union/accessibility/declaration.php",
        "accessibilitydeclarationpagetitle": "Declaration of accessibility",
        "accessibilitysupportlinkpositionfootnote": true,
        "accessibilitysupportlink": "https://localhost/theme/boost_union/accessibility/support.php",
        "accessibilitysupportpagetitle": "Accessibility support",
        "page1linkpositionfootnote": true,
        "page1link": "https://localhost/theme/boost_union/pages/page1.php",
        "page1pagetitle": "Generic page 1",
        "page2linkpositionfootnote": true,
        "page2link": "https://localhost/theme/boost_union/pages/page2.php",
        "page2pagetitle": "Generic page 2",
        "page3linkpositionfootnote": true,
        "page3link": "https://localhost/theme/boost_union/pages/page3.php",
        "page3pagetitle": "Generic page 3"
    }
}}

{{# showfootnote }}
    <div id="footnote" class="py-3">
        <div class="container-fluid px-0">
            {{{ footnotesetting }}}
        </div>
        {{#anystaticpagelinkedfromfootnote}}
            <div class="container-fluid px-0{{# footnotesetting }} mt-1{{/ footnotesetting }}">
                {{# aboutuslinkpositionfootnote }}
                    <span class="theme_boost_union_footnote_link theme_boost_union_footnote_aboutuslink pe-2 me-2">
                        <a href="{{ aboutuslink }}">{{ aboutuspagetitle }}</a>
                    </span>
                {{/ aboutuslinkpositionfootnote }}
                {{# offerslinkpositionfootnote }}
                    <span class="theme_boost_union_footnote_link theme_boost_union_footnote_offerslink pe-2 me-2">
                        <a href="{{ offerslink }}">{{ offerspagetitle }}</a>
                    </span>
                {{/ offerslinkpositionfootnote }}
                {{# imprintlinkpositionfootnote }}
                    <span class="theme_boost_union_footnote_link theme_boost_union_footnote_imprintlink pe-2 me-2">
                        <a href="{{ imprintlink }}">{{ imprintpagetitle }}</a>
                    </span>
                {{/ imprintlinkpositionfootnote }}
                {{# contactlinkpositionfootnote }}
                    <span class="theme_boost_union_footnote_link theme_boost_union_footnote_contactlink pe-2 me-2">
                        <a href="{{ contactlink }}">{{ contactpagetitle }}</a>
                    </span>
                {{/ contactlinkpositionfootnote }}
                {{# helplinkpositionfootnote }}
                    <span class="theme_boost_union_footnote_link theme_boost_union_footnote_helplink pe-2 me-2">
                        <a href="{{ helplink }}">{{ helppagetitle }}</a>
                    </span>
                {{/ helplinkpositionfootnote }}
                {{# maintenancelinkpositionfootnote }}
                    <span class="theme_boost_union_footnote_link theme_boost_union_footnote_maintenancelink pe-2 me-2">
                        <a href="{{ maintenancelink }}">{{ maintenancepagetitle }}</a>
                    </span>
                {{/ maintenancelinkpositionfootnote }}
                {{# accessibilitydeclarationlinkpositionfootnote }}
                    <span class="theme_boost_union_footnote_link theme_boost_union_footnote_accessibilitydeclarationlink pe-2 me-2">
                        <a href="{{ accessibilitydeclarationlink }}">{{ accessibilitydeclarationpagetitle }}</a>
                    </span>
                {{/ accessibilitydeclarationlinkpositionfootnote }}
                {{# accessibilitysupportlinkpositionfootnote }}
                    <span class="theme_boost_union_footnote_link theme_boost_union_footnote_accessibilitysupportlink pe-2 me-2">
                        <a href="{{ accessibilitysupportlink }}">{{ accessibilitysupportpagetitle }}</a>
                    </span>
                {{/ accessibilitysupportlinkpositionfootnote }}
                {{# page1linkpositionfootnote }}
                    <span class="theme_boost_union_footnote_link theme_boost_union_footnote_page1link pe-2 me-2">
                        <a href="{{ page1link }}">{{ page1pagetitle }}</a>
                    </span>
                {{/ page1linkpositionfootnote }}
                {{# page2linkpositionfootnote }}
                    <span class="theme_boost_union_footnote_link theme_boost_union_footnote_page2link pe-2 me-2">
                        <a href="{{ page2link }}">{{ page2pagetitle }}</a>
                    </span>
                {{/ page2linkpositionfootnote }}
                {{# page3linkpositionfootnote }}
                    <span class="theme_boost_union_footnote_link theme_boost_union_footnote_page3link pe-2 me-2">
                        <a href="{{ page3link }}">{{ page3pagetitle }}</a>
                    </span>
                {{/ page3linkpositionfootnote }}
            </div>
        {{/anystaticpagelinkedfromfootnote}}
    </div>
{{/ showfootnote }}
