{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_boost_union/javascriptdisabledhint

    Boost Union JavaScript disabled hint layout template.

    Context variables required for this template:
    * showjavascriptdisabledhint - The fact if the JavaScript disabled hint should be shown or not

    Example context (json):
    {
        "showjavascriptdisabledhint": true
    }
}}

{{# showjavascriptdisabledhint }}
    <noscript>
        <div id="javascriptdisabledhint" class="alert alert-danger mt-2 mb-5 p-4" role="alert">
            {{#str}}javascriptdisabledhinttext,theme_boost_union{{/str}}
        </div>
    </noscript>
{{/ showjavascriptdisabledhint }}
